{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h1 class="my-5">{{ note.title }}</h1>
    <p>{{ note.content }}</p>
    <p>Created at: {{ note.created_at }}</p>
    <p>Last modified: {{ note.updated_at }}</p>
    <p>Likes: {{ note.likes }}</p>
    <a href="{% url 'note_edit' note.id %}">Edit</a>
</div>
    <form action="{% url 'note_delete' note.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <form action="{% url 'note_like' note.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Like</button>
    </form>
    <a href="{% url 'note_list' %}">Back to Note List</a>
{% endblock %}