{% extends "base.html" %}

{% block content %}
    <h1 class="my-5">Note List</h1>
    <ul class="row row-col3 g-2">
        {% for note in notes %}
                <div class="card p-3">
                    <a href="{% url 'note_detail' note.id %}" class="card-title">{{ note.title }}</a>
                    <p class="card-text">{{ note.content|truncatewords:20 }}</p>
                    <p class="card-text"><small class="text-muted">Created at: {{ note.created_at }}</small></p>
                    <p class="card-text"><small class="text-muted">Last modified: {{ note.updated_at }}</small></p>
                    <a href="{% url 'note_edit' note.id %}" class="btn btn-primary">Edit</a>
                    <form action="{% url 'note_delete' note.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </div>
        {% empty %}
            <li>No notes available.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'note_create' %}">Create a new note</a>
{% endblock %}